<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jand6944.soundandvideo" >


    <uses-sdk
        android:minSdkVersion="11"
        android:maxSdkVersion="15"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Sound_andVideo"
            android:label="@string/app_name">

            <intent_filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.example.jand6944.Sound_andVideo"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent_filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <caterfory android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>

        <activity
            android:name=".SoundActivity"
            android:label="@string/title_activity_sound" >
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video" >
        </activity>
    </application>

</manifest>
